<!DOCTYPE html>
<!--
[% debug %]
-->
<html>
<head>
   <!-- Meta Tags -->
   <meta http-equiv="content-type" content="text/html; charset=utf-8">
   <meta name="description" content="QLHUD is a platform where anyone can download and share custom HUDs for Quake Live. The #1 Quake Live custom HUD resource!">

   <!-- CSS -->
   <link rel="stylesheet" type="text/css" title="Default" href="[% url %]/files/page/style.css">
   <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono:400' rel='stylesheet' type='text/css'>

   [% IF css && currpage != 'index' %]
   <!-- Additional css -->
   <style type="text/css">
      [% css %]
   </style>
   [% END %]

   <!-- Favicon -->
   <link rel="shortcut icon" href="[% url %]/favicon.ico" type="image/x-icon">

   <!-- RSS -->
   <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="[% url %]/rss">

   <!-- Title -->
   <title>[% title %]</title>
</head>
<body>
<!--[if lt IE 8]>
<script src="[% url %]/files/page/ie7-js/IE8.js"></script>
<![endif]-->
