<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="https://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://qlhud.lifeisabug.com/</loc>
  </url>
  <url>
    <loc>https://qlhud.lifeisabug.com/upload/</loc>
  </url>
  <url>
    <loc>https://qlhud.lifeisabug.com/search/</loc>
  </url>
  <url>
    <loc>https://qlhud.lifeisabug.com/authors/</loc>
  </url>
  <url>
    <loc>https://qlhud.lifeisabug.com/random/</loc>
  </url>
  <url>
    <loc>https://qlhud.lifeisabug.com/about/</loc>
  </url>

  [% FOREACH hud IN huds %]
  <url>
    <loc>https://qlhud.lifeisabug.com/id/[% hud.uniqid %]/</loc>
  </url>
  [% END %]

  [% FOREACH page IN pages %]
  <url>
    <loc>https://qlhud.lifeisabug.com/[% page %]/</loc>
  </url>
  [% END %]

  [% FOREACH author IN authors %]
  <url>
    <loc>https://qlhud.lifeisabug.com/author/[% author %]/</loc>
  </url>
  [% END %]
</urlset>
